<!-- $Id$ -->
<% content_for(:menu) do %>
  <li class="nav-item">
    <%= link_to 'Football Divisions', football_divisions_path, class: 'nav-link' %>
  </li>
  <li class="nav-item">
    <%= link_to "#{@sport.name} Teams", sport_teams_path(@sport), class: 'nav-link' %>
  </li>
<% end %>
