<!-- $Id$ -->
<% content_for(:menu) do %>
  <li class="nav-item">
    <%= link_to 'Football Divisions', football_divisions_path, class: 'nav-link' %>
  </li>
  <li class="nav-item">
    <%= link_to 'Football Seasons', seasons_path, class: 'nav-link' %>
  </li>
  <li class="nav-item">
    <%= link_to 'Soccer Teams', sport_teams_path(@soccer), class: 'nav-link' %>
  </li>
<% end %>
