---
http_interactions:
- request:
    method: get
    uri: https://push.api.bbci.co.uk/batch?t=/data/bbc-morph-football-scores-match-list-data/endDate/2023-11-12/startDate/2023-11-12/todayDate/2023-04-23/tournament/full-priority-order/version/2.4.6/withPlayerActions/true?timeout=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"42303-N2muTOY7nlr+ZqSJXDrC8k7ulMc"
      Allow:
      - GET, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"meta":{"pollFrequencyInMilliseconds":30000},"payload":[{"meta":{"responseCode":200,"hash":"dc8ab321f0718d0be9ecd867f4e0a06c","template":"/proxy/data/bbc-morph-football-scores-match-list-data/endDate/2023-11-12/startDate/2023-11-12/todayDate/2023-04-23/tournament/full-priority-order/version/2.4.6/withPlayerActions/true?timeout=5"},"body":{"fixtureListMeta":{"scorersButtonShouldBeEnabled":true},"matchData":[{"tournamentMeta":{"tournamentSlug":"european-championship","tournamentName":{"first":"European
        Championship","full":"UEFA European Championship","abbreviation":"European
        Championship"}},"tournamentDatesWithEvents":{"Sunday-12th-November":[{"round":{"key":"CFBB235112024S1R9","name":{"first":"Group
        I","full":"Qualifying Group I","abbreviation":"Group I"}},"events":[{"eventKey":"EFBO2333381","startTime":"2023-11-12T19:45:00+00:00","isTBC":false,"minutesElapsed":90,"minutesIntoAddedTime":7,"eventStatus":"post-event","eventStatusNote":"Result","eventStatusReason":null,"eventOutcomeType":"regular","eventType":"Regular","seriesWinner":null,"cpsId":"67044306","cpsLive":"no","homeTeam":{"key":"TFBB11658","scores":{"score":1,"halfTime":1,"fullTime":1,"extraTime":null,"shootout":null,"aggregate":null,"aggregateGoalsAway":null},"formation":null,"eventOutcome":"win","name":{"first":"Kosovo","full":"Kosovo","abbreviation":"Kosovo","last":null},"playerActions":[{"actions":[{"type":"goal","timeElapsed":41,"addedTime":0,"penalty":false,"ownGoal":false,"displayTime":"41''"}],"name":{"first":"Milot","full":"Milot
        Rashica","abbreviation":"Rashica","last":"Rashica"}}]},"awayTeam":{"key":"TFBB516","scores":{"score":0,"halfTime":0,"fullTime":0,"extraTime":null,"shootout":null,"aggregate":null,"aggregateGoalsAway":null},"formation":null,"eventOutcome":"loss","name":{"first":"Israel","full":"Israel","abbreviation":"Israel","last":null},"playerActions":[{"actions":[{"type":"yellow-red-card","timeElapsed":90,"addedTime":4,"displayTime":"90''+4"}],"name":{"first":"Roy","full":"Roy
        Revivo","abbreviation":"Revivo","last":"Revivo"}}]},"eventProgress":{"period":"FULLTIME","status":"RESULT"},"venue":{"name":{"abbreviation":"Stadiumi
        Fadil Vokrri","videCode":"Stadiumi Fadil Vokrri","first":"Stadiumi Fadil Vokrri","full":"Stadiumi
        Fadil Vokrri"},"homeCountry":"Kosovo"},"officials":[],"tournamentInfo":null,"eventActions":null,"startTimeInUKHHMM":"19:45","comment":null,"href":null,"tournamentName":{"first":"European
        Championship","full":"UEFA European Championship","abbreviation":"European
        Championship"},"tournamentSlug":"european-championship"}]}]}},{"tournamentMeta":{"tournamentSlug":"premier-league","tournamentName":{"first":"Premier
        League","full":"Premier League","abbreviation":"Premier League"}},"tournamentDatesWithEvents":{"Sunday-12th-November":[{"round":{"key":"CFBB82023S1R1","name":null},"events":[{"eventKey":"EFBO2367650","startTime[...]
