<h1>New betfair_runner_type</h1>

<% form_for([@betfair_market_type,@betfair_runner_type]) do |f| %>
  <%= render "shared/error_messages", :target => @betfair_runner_type %>
  <p>
    <b>Name</b><br />
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', @betfair_market_type %>
