---
http_interactions:
- request:
    method: post
    uri: https://identitysso-cert.betfair.com/api/certlogin
    body:
      encoding: ASCII-8BIT
      string: "<CREDENTIALS>"
    headers:
      X-Application:
      - "<APIKEY>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"sessionToken":"<TOKEN>","loginStatus":"SUCCESS"}'
  recorded_at: Thu, 13 Apr 2023 19:35:10 GMT
- request:
    method: post
    uri: https://api.betfair.com/exchange/betting/rest/v1.0/listEventTypes/
    body:
      encoding: UTF-8
      string: '{"filter":{}}'
    headers:
      X-Application:
      - "<APIKEY>"
      Content-Type:
      - application/json
      X-Authentication:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '[{"eventType":{"id":"1","name":"Soccer"},"marketCount":17687},{"eventType":{"id":"2","name":"Tennis"},"marketCount":1041},{"eventType":{"id":"3","name":"Golf"},"marketCount":31},{"eventType":{"id":"4","name":"Cricket"},"marketCount":261},{"eventType":{"id":"1477","name":"Rugby
        League"},"marketCount":81},{"eventType":{"id":"5","name":"Rugby Union"},"marketCount":144},{"eventType":{"id":"6","name":"Boxing"},"marketCount":57},{"eventType":{"id":"7","name":"Horse
        Racing"},"marketCount":801},{"eventType":{"id":"8","name":"Motor Sport"},"m[...]
[...]
- request:
    method: post
    uri: https://api.betfair.com/exchange/betting/rest/v1.0/listCompetitions/
    body:
      encoding: UTF-8
      string: '{"filter":{"eventTypeIds":["1"]}}'
    headers:
      X-Application:
      - "<APIKEY>"
      Content-Type:
      - application/json
      X-Authentication:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '[{"competition":{"id":"12185789","name":"Bangladesh Premier League"},"marketCount":72,"competitionRegion":"BGD"},{"competition":{"id":"892425","name":"Czech
        3 Liga"},"marketCount":120,"competitionRegion":"CZE"},{"competition":{"id":"12206014","name":"Bahraini
        Premier"},"marketCount":48,"competitionRegion":"BHR"},{"competition":{"id":"12501691","name":"Brazilian
        Campeonato Women"},"marketCount":47,"competitionRegion":"BRA"},{"competition":{"id":"12199359","name":"Northern
        Irish Premiership"},"marketCount":144,"competitionRegion":"GBR"},{"competition":{"id":"9","name":"[...]
