<%- model_class = BetMarket -%>
<div class="page-header">
  <h3><%=t '.title', :default => t('helpers.titles.edit', :model => model_class.model_name.human,
                                   :default => "Edit #{model_class.model_name.human} #{@bet_market.name}") %></h3>
</div>
<%= render :partial => 'form' %>
