<!-- $Id$ -->
<p>
  <b>Division:</b>
  <%=h @football_division.division.name %>
</p>

<p>
  <b>Football Data Code:</b>
  <%=h @football_division.football_data_code %>
</p>

<%= link_to 'Edit', edit_football_division_path(@football_division) %>
