---
http_interactions:
- request:
    method: get
    uri: https://push.api.bbci.co.uk/batch?t=/data/bbc-morph-football-scores-match-list-data/endDate/2023-04-29/startDate/2023-04-29/todayDate/2023-04-23/tournament/full-priority-order/version/2.4.6/withPlayerActions/true?timeout=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, HEAD, OPTIONS
      Etag:
      - W/"4964b-bRra5rfgny2HadfmtSAsPc3nvl0"
    body:
      encoding: UTF-8
      string: '{"meta":{"pollFrequencyInMilliseconds":30000},"payload":[{"meta":{"responseCode":200,"hash":"4b9e078e8f41d7b60813a813fc9c9feb","template":"/proxy/data/bbc-morph-football-scores-match-list-data/endDate/2023-04-29/startDate/2023-04-29/todayDate/2023-04-23/tournament/full-priority-order/version/2.4.6/withPlayerActions/true?timeout=5"},"body":{"fixtureListMeta":{"scorersButtonShouldBeEnabled":true},"matchData":[{"tournamentMeta":{"tournamentSlug":"premier-league","tournamentName":{"first":"Premier
        League","full":"Premier League","abbreviation":"Premier League"}},"tournamentDatesWithEvents":{"Saturday-29th-April":[{"round":{"key":"CFBB82022S1R1","name":null},"events":[{"eventKey":"EFBO2293144","startTime":"2023-04-29T12:30:00+01:00","isTBC":false,"minutesElapsed":90,"minutesIntoAddedTime":9,"eventStatus":"post-event","eventStatusNote":"Result","eventStatusReason":null,"eventOutcomeType":"regular","eventType":"Regular","seriesWinner":null,"cpsId":"65357223","cpsLive":"yes","homeTeam":{"key":"TFBB31","scores":{"score":4,"halfTime":3,"fullTime":4,"extraTime":null,"shootout":null,"aggregate":null,"aggregateGoalsAway":null},"formation":null,"eventOutcome":"win","name":{"first":"Crystal
        Palace","full":"Crystal Palace","abbreviation":"Crystal Palace","last":null},"playerActions":[{"actions":[{"type":"goal","timeElapsed":15,"addedTime":0,"penalty":false,"ownGoal":false,"displayTime":"15''"}],"name":{"first":"Jordan","full":"Jordan
        Ayew","abbreviation":"J Ayew","last":"Ayew"}},{"actions":[{"type":"goal","timeElapsed":20,"addedTime":0,"penalty":false,"ownGoal":false,"displayTime":"20''"}],"name":{"first":"Wilfried","full":"Wilfried
        Zaha","abbreviation":"Zaha","last":"Zaha"}},{"actions":[{"type":"goal","timeElapsed":30,"addedTime":0,"penalty":false,"ownGoal":false,"displayTime":"30''"}],"name":{"first":"Jeffrey","full":"Jeffrey
        Schlupp","abbreviation":"Schlupp","last":"Schlupp"}},{"actions":[{"type":"goal","timeElapsed":66,"addedTime":0,"penalty":true,"ownGoal":false,"displayTime":"66''"}],"name":{"first":"Eberechi","full":"Eberechi
        Eze","abbreviation":"Eze","last":"Eze"}}]},"awayTeam":{"key":"TFBB21","scores":{"score":3,"halfTime":2,"fullTime":3,"extraTime":null,"shootout":null,"aggregate":null,"aggregateGoalsAway":null},"formation":null,"eventOutcome":"loss","name":{"first":"West
        Ham United","full":"West Ham United","abbreviation":"West Ham","last":null},"playerActions":[{"actions":[{"type":"goal","timeElapsed":9,"addedTime":0,"penalty":false,"ownGoal":false,"displayTime":"9''"}],"name":{"first":"Tomás","full":"Tomás
        Soucek","abbreviation":"Soucek","last":"Soucek"}},{"actions":[{"type":"goal","timeElapsed":35,"addedTime":0,"penalty":false,"ownGoal":false,"displayTime":"35''"}],"name":{"first":"Michail","full":"Michail
        Antonio","abbreviation":"Antonio","last":"Antonio"}},{"actions":[{"type":"goal","timeElapsed":72,"addedTime":0,"penalty":false,"ownGoal":false,"displayTime":"72''"}],"name":{"first":"Nayef","full":"Nayef
        Aguerd","abbreviation":"Aguerd","last":"Aguerd"}}]},"eventProgress":{"period":"FULLTIME","status":"RESULT"},"venue":{"name":{"abbreviation":"Selhurst
        Park","videCode":"Selhurst Park","first":"Selhurst Park","full":"Selhurst
        Park"},"homeCountry":"England"},"officials":[],"tournamentInfo":null,"eventActions":null,"startTimeInUKHHMM":"12:30","comment":null,"href":"/sport/football/65357223","tournamentName":{"first":"Premier
        League","full":"Premier League","abbreviation":"Premier League"},"tournamentSlug":"premier-league"},{"eventKey":"EFBO2293142","startTime":"2023-04-29T15:00:00+01:00","isTBC":false,"minutesElapsed":90,"minutesIntoAddedTime":11,"eventStatus":"post-event","eventStatusNote":"Result","eventStatusReason":null,"eventOutcomeType":"regular","eventType":"Regular","seriesWinner":null,"cpsId":"65357222","cpsLive":"yes","homeTeam":{"key":"[...]
