<%= render 'menu', seasons: @seasons, season: @season, divisions: @season.calendar.divisions, date: @date %>
<div align="center">
  <%= render 'half_time_title', match: @fixture %>
</div>
<% @fixtures.each do |f| %>
  <%= link_to_unless @fixture == f, f.name, half_time_sport_season_division_fixture_bet_markets_path(f.division.sport, f.season, f.division, f) %>
<% end %>
<%= render 'chart', fixtures: @fixtures, fixture: @fixture, bet_markets: @bet_markets %>
