---
http_interactions:
- request:
    method: post
    uri: https://identitysso-cert.betfair.com/api/certlogin
    body:
      encoding: ASCII-8BIT
      string: "<CREDENTIALS>"
    headers:
      X-Application:
      - "<APIKEY>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"sessionToken":"<TOKEN>","loginStatus":"SUCCESS"}'
  recorded_at: Thu, 13 Apr 2023 19:30:15 GMT
- request:
    method: post
    uri: https://api.betfair.com/exchange/betting/rest/v1.0/listEventTypes/
    body:
      encoding: UTF-8
      string: '{"filter":{}}'
    headers:
      X-Application:
      - "<APIKEY>"
      Content-Type:
      - application/json
      X-Authentication:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '[{"eventType":{"id":"1","name":"Soccer"},"marketCount":17694},{"eventType":{"id":"2","name":"Tennis"},"marketCount":1042},{"eventType":{"id":"3","name":"Golf"},"marketCount":31},{"eventType":{"id":"4","name":"Cricket"},"marketCount":261},{"eventType":{"id":"1477","name":"Rugby
        League"},"marketCount":81},{"eventType":{"id":"5","name":"Rugby Union"},"marketCount":144},{"eventType":{"id":"6","name":"Boxing"},"marketCount":57},{"eventType":{"id":"7","name":"Horse
        Racing"},"marketCount":801},{"eventType":{"id":"8","name":"Motor Sport"},"m[...]
- request:
    method: get
    uri: https://identitysso-cert.betfair.com/api/keepAlive
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Application:
      - "<APIKEY>"
      Content-Type:
      - application/json
      X-Authentication:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"token":"yvSM38F0eqlk6VZV/ZzQ8JnP6U1dI+AmXxg4Ltpakaw=","product":"3zshEzQv183tM6sh","status":"SUCCESS","error":""}'
  recorded_at: Thu, 13 Apr 2023 19:30:15 GMT
recorded_with: VCR 6.1.0
