---
http_interactions:
- request:
    method: get
    uri: https://push.api.bbci.co.uk/batch?t=/data/bbc-morph-football-scores-match-list-data/endDate/2023-04-15/startDate/2023-04-15/todayDate/2023-04-23/tournament/full-priority-order/version/2.4.6/withPlayerActions/true?timeout=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"5507a-ZXSG0org3P7KuFg4IaoGaF13tG8"
      Allow:
      - GET, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"meta":{"pollFrequencyInMilliseconds":30000},"payload":[{"meta":{"responseCode":200,"hash":"729eece0d093d245fa5552695522b9fa","template":"/proxy/data/bbc-morph-football-scores-match-list-data/endDate/2023-04-15/startDate/2023-04-15/todayDate/2023-04-23/tournament/full-priority-order/version/2.4.6/withPlayerActions/true?timeout=5"},"body":{"fixtureListMeta":{"scorersButtonShouldBeEnabled":true},"matchData":[{"tournamentMeta":{"tournamentSlug":"premier-league","tournamentName":{"first":"Premier
        League","full":"Premier League","abbreviation":"Premier League"}},"tournamentDatesWithEvents":{"Saturday-15th-April":[{"round":{"key":"CFBB82022S1R1","name":null},"events":[{"eventKey":"EFBO2293110","startTime":"2023-04-15T12:30:00+01:00","isTBC":false,"minutesElapsed":90,"minutesIntoAddedTime":5,"eventStatus":"post-event","eventStatusNote":"Result","eventStatusReason":null,"eventOutcomeType":"regular","eventType":"Regular","seriesWinner":null,"cpsId":"65217805","cpsLive":"yes","homeTeam":{"key":"TFBB7","scores":{"score":3,"halfTime":1,"fullTime":3,"extraTime":null,"shootout":null,"aggregate":null,"aggregateGoalsAway":null},"formation":null,"eventOutcome":"win","name":{"first":"Aston
        Villa","full":"Aston Villa","abbreviation":"Aston Villa","last":null},"playerActions":[{"actions":[{"type":"goal","timeElapsed":11,"addedTime":0,"penalty":false,"ownGoal":false,"displayTime":"11''"}],"name":{"first":"Jacob","full":"Jacob
        Ramsey","abbreviation":"J Ramsey","last":"Ramsey"}},{"actions":[{"type":"goal","timeElapsed":64,"addedTime":0,"penalty":false,"ownGoal":false,"displayTime":"64''"},{"type":"goal","timeElapsed":83,"addedTime":0,"penalty":false,"ownGoal":false,"displayTime":"83''"}],"name":{"first":"Ollie","full":"Ollie
        Watkins","abbreviation":"Watkins","last":"Watkins"}}]},"awayTeam":{"key":"TFBB4","scores":{"score":0,"halfTime":0,"fullTime":0,"extraTime":null,"shootout":null,"aggregate":null,"aggregateGoalsAway":null},"formation":null,"eventOutcome":"loss","name":{"first":"Newcastle
        United","full":"Newcastle United","abbreviation":"Newcastle","last":null},"playerActions":[]},"eventProgress":{"period":"FULLTIME","status":"RESULT"},"venue":{"name":{"abbreviation":"Villa
        Park","videCode":"Villa Park","first":"Villa Park","full":"Villa Park"},"homeCountry":"England"},"officials":[],"tournamentInfo":null,"eventActions":null,"startTimeInUKHHMM":"12:30","comment":null,"href":"/sport/football/65217805","tournamentName":{"first":"Premier
        League","full":"Premier League","abbreviation":"Premier League"},"tournamentSlug":"premier-league"},{"eventKey":"EFBO2293111","startTime":"2023-04-15T15:00:00+01:00","isTBC":false,"minutesElapsed":90,"minutesIntoAddedTime":8,"eventStatus":"post-event","eventStatusNote":"Result","eventStatusReason":null,"eventOutcomeType":"regular","eventType":"Regular","seriesWinner":null,"cpsId":"65217807","cpsLive":"yes","homeTeam":{"key":"T[...]
