// $Id$

.profit {
  font-weight: bold;
  font-style: italic;
  color: magenta;
}

.lesserprofit {
  font-weight: bold;
  color: deepskyblue;
}

// These are snooker-ball colours to represent how close we are to a prediction
.red {
  color: red;
}

.yellow {
  color: orange;
}

.green {
  color: green;
}

.brown {
  color: brown;
}

.blue {
  color: blue;
}

.pink {
  color: darkorchid;
}

.black {
  color: black;
}